body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.form-endereco {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-endereco h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 32px;
  text-align: center;
}

.form-item {
  margin-bottom: 8px;
  padding: 20px;
}

.form-item label {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 400;
}

.form-item input {
  height: 2rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.botao {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #009fff;
  color: #f1f1f1;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: .3s;
}

.botao > img,
.botao > span {
  vertical-align: middle;
}

.botao > img {
  margin-left: 12px;
}

.botao:hover {
  background-color: #0060ff;
}