<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h3>Filtros</h3>
        </div>
        <div class="card-body card-info">
          <form>
            <div class="row align-items-end">
              <div class="form-group col-md-4 col-lg-4">
                <label for="nome">Nome</label>
                <input
                  class="form-control"
                  type="text"
                  name="nome"
                  [(ngModel)]="seletor.nome"
                />
              </div>
              <div class="form-group col-md-4 col-lg-4">
                <label for="nome">Fabricante</label>
                <input
                  class="form-control"
                  type="text"
                  name="fabricante"
                  [(ngModel)]="seletor.fabricante"
                />
              </div>
              <br />
              <div class="form-group col-md-3 col-lg-3">
                <label>&nbsp;</label>
                <button
                  type="submit"
                  class="form-control btn btn-primary"
                  (click)="pesquisar()"
                >
                  Pesquisar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header bg-dark text-white align-middle">
          <h3>Lista de Produtos</h3>
        </div>
        <div class="card-body card-info">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Fabricante</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Peso</th>
                  <th scope="col">Data Cadastro</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of produtos">
                  <td class="align-middle">{{ p.nome }}</td>
                  <td class="align-middle">{{ p.fabricante.nome }}</td>
                  <td class="align-middle">{{ p.valor }}</td>
                  <td class="align-middle">{{ p.peso }}</td>
                  <td class="align-middle">
                    {{ p.dataCadastro | date : "dd/MM/yyyy" }}
                  </td>
                  <td class="align-middle">
                    <button
                      ngbTooltip="Editar"
                      class="btn btn-xs btn-dark mr-2"
                      (click)="editar(p.id)"
                    >
                      <i class="fa fa-edit"></i>Editar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
